img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}
.product-listing {
    margin: 50px 0;
}

.product-listing img {
    width: 100%;
    object-fit: cover;
}

.product-listing h3 {
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.product-listing .item {
    margin-bottom: 30px;
}

.banner {
    background-color: red;
    width: 100%;
    height: 500px;
}

.owl-prev {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100px;
}