.search-section {
    background-color: #ced5f0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    margin-top: 100px;
    margin-left: 100px;
}

.slider-main-card {
    position: relative;
    height: 1000px;
    width: 1440px;
}

.background-image {
    position: absolute;
    
}

.thumbnail {
    position: absolute;
}

.game-description {
    position: absolute;
    left: 700px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}


.game-info {
    border-top: 2px solid white;
    position: absolute;
    width: 500px;
    top: 200px;
}

.game-info li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}   

.slider-sub-card {
    position: relative;
}