* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}

.search-section {
    background-color: #ced5f0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    margin-top: 100px;
    margin-left: 100px;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    
}

.tablink {
    background-color: #ddd;
    color: #333;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.tablink.active {
    background-color: #aaa;
    color: white;
}

.tabcontent {
    display: none;
    padding: 20px;
}

.tabcontent.active {
    display: block;
}
.slider-main-card {
    position: relative;
    height: 500px;
    width: 1440px;
}

.background-image {
    position: absolute;
    
}

.thumbnail {
    position: absolute;
}

.game-description {
    position: absolute;
    left: 700px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}


.game-info {
    border-top: 4px solid black;
    position: absolute;
    width: 470px;
    top: 200px;
}

.game-info li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    background-color: white;
    color: black;
    
}   

.slider-sub-card {
    margin-top: 50px;
    position: relative;
    max-width: 1300px;
}
.slide-navigator {
    top: 50%;
    z-index: 1;
    width: 1300px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.swiper {
    max-width: 1200px;
    height: 300px;
    
  }
  .swiper-slide {
    position: absolute;
    z-index: 0;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-text {
    padding: 10px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
.news-section .container{
    border-top: 3px solid grey;
    margin-top: 30px;
    height: 500px;
}
.section-header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}
.section-nav {
    margin-top: 45px;
    margin-bottom: 30px;
}
.news-main-card {
background-color: white;
border-radius: 5px;
height: 365px;
}
  .news-header {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 2px solid grey;
    flex-direction: row;
}

.news-header-text {
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
}

.news-description {
    padding: 10px 10px;
}
.sub-news-container {
    border-bottom: 2px solid grey;
    padding:5px 0;
}
.sub-news-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
}
.author {
    color: #aaa;
}
.news-heading {
    font-weight: 700;
}
.sub-news-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-news-container-bottom {
    padding: 5px 0;
}

.video-section .container {
    margin-top: 30px;
    border-top: 3px solid grey;
}




