/*Khai báo

- Nên khai báo ở trên element cấp cao nhất: html, body, :root
- Cu pháp: bắt đầu bằng --
- Sử dụng: var(--custom-property-name);
*/

:root {
    --primary-color: blue;
    --secondary-color: green;

    --primary-font: "Cascadia Code", mono;
    --secondary-font: "Time News Roman", san-serif;

    --column-gutter: 30px;
    --row-gutter: 30px;
}

/*body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}*/

.box {
    height: 300px;
    background:rgb(131, 58, 180);
    transition: background-color 0.5s 0s linear;
}

.box:hover {
    background: rgb(169, 79, 229);
    
}

img {
    filter: brightness(1.35) contrast(1.21) grayscale(0.26) hue-rotate(-360deg) ;
}

/*Transition thường kết hợp với các bộ chọn :hover, :focus
Transition thường nên đặt trên các bộ chọn thông thường

Ví dụ:
.box => transition
.box => thay đổi giá trị
- Duration thường nên để từ 0.2s đến 0.5s
- Không phải tất cả thuộc tính đều áp dụng được transition
- SỬ dụng với các hiệu ứng cần thao tác từ phía người dùng*/

@keyframes scale {
    /*step*/
    from {
        /*properties*/
        width: 0;
        height: 0;
        transform: rotate(0deg);
        opacity: 0;
        top: 0;
        left: 0;
    }
    
    25% {
        opacity: 1;
        right: 0;
        top: 0;
    }

    50%{
        width: 300px;
        height: 300px;
        transform: rotate(180);
        opacity: 0;
        right: 0;
        bottom: 0;
    }

    75% {
        opacity: 1;
        bottom: 0;
        left: 0;
    }

    to {
        /*properties*/
        width: 0;
        height: 0;
        transform: rotate(360deg);
        opacity: 0;
        top: 0;
        left: 0;
    }
}

img {
    animation: scale 2s linear 0s infinite;
}

