@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
         url('../fonts/GeneralSans-Variable.woff') format('woff'),
         url('../fonts/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/GeneralSans_Complete/') format('woff2'),
        url('../fonts/GeneralSans-VariableItalic.woff') format('woff'),
        url('../fonts/GeneralSans-VariableItalic.ttf') format('truetype');
        font-weight: 200 700;
        font-display: swap;
        font-style: italic;
}

@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

@media (min-width: 1344px) {
    .container {
        max-width: 1264px;
    }
}

@media screen and (min-width: 1344px) {
    .carousel-button {
        width: 85px;
        height: 85px;
    }
}

body {
    font-family: 'GeneralSans', 'sans-serif';
}
.row {
    --bs-gutter-x: 20px;
}

.btn.btn-primary {
    --bs-btn-border-radius: 70px;
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 16px;
    --bs-btn-line-height: 1.25;
    --bs-btn-bg: #3461FF;
    --bs-btn-font-weight: 500;
}

.navbar-nav {
    gap: 40px;
    --bs-nav-link-color: #000000;
    --bs-nav-link-font-weight: 500;
}

.navbar .navbar-brand {
    --bs-navbar-brand-font-size: 28px;
    --bs-navbar-brand-margin-end: 80px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 28.2353px;
    line-height: 32px;
    letter-spacing: -2px;
    text-transform: capitalize;
}

.nav-link {
    font-family: 'GeneralSans-Variable';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
}
.text {
    font-family: 'GeneralSans-Variable';
    font-weight: 600;
    font-size: 86px;
    line-height: 120px;
    color: #000000;
}

.hero-section {
    height: 800px;
}
.title {
    margin-top: 114px;
}

.text.sub-title {
    margin-top: 24px;
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
}

.image-contain {
    margin-top: 84px;
}

.union {
    position: absolute;
    right: 183.02px;
    top: 19px;
}

.union.icon {
    position: absolute;
    top: 19.47px;
    left: 45.51px;
}

.union-hand {
    position: absolute;
    top: 441px;
    right: 294.02px;
}

.union-hand.hand-icon {
    position: absolute;
    top: 19.47px;
    left: 45.51px;
}

.form-control {
    width: 309px;
    height: 62px;
    padding: 20px 18px;
    background: #FAFAFA;
    border-radius: 37px;
}

.mb-3 {
    gap: 12px;
    margin-top: 52px;
}

.btn-hero {
    border-radius: 70px;
    width: 114px;
    height: 62px;   
    padding: 20px 24px;
}

.cooperation {
    background: #FAFAFA;
    height: 552px;
}

.cooperation-title {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    width: 280px;
    height: 108px;
    margin-top: 78px;
}

.cooperation-description {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 413px;
    height: 84px;
    color: #252525;
    text-transform: capitalize;
    margin-top: 90px;
    margin-left: 36px;
}

.company-logo {
    display: flex;
    margin-top: 89px;
    gap: 80px;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-logo.row-2 {
    margin-top: 94px;
}

.strat {
    height: 520px;
}

.strat-left {
    width: 505px;
    height: 310px;
    margin-top: 103px;
    flex-direction: column;
}

.strat-left-top {
    display: flex;
    gap: 136px;
}

.strat-left-bot {
    display: flex;
    gap: 158px;
}

.bot-right {
    width: 158px;
    height: 134px;
}
.strat-bold {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 86px;
    text-transform: capitalize;
    color: #000000;
}

.strat-light {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.bot-right .strat-light {
    text-transform: capitalize;
}

.top-right .strat-light {
    width: 155px;
    height: 48px;
}

.strat-right {
    margin-top: 103px;
}
.strat-right-title {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 12px;
}

.strat-right-subtitle {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
}

.strat-right-link {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #3461FF;
}

.insight {
    height: 776px;
}

.insight-left {
    margin-top: 86px;
    height: 584px;
}

.insight-title {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #000000;
}

.insight-subtitle {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 12px;
    margin-bottom: 46px;
}

.insight-right {
    margin-top: 86px;
    height: 584px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.insight-right-title {
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 16px;
}

.insight-right-subtitle {
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}

.insight-right-left {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 292px;
}

.insight-right-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 292px;
}

.work {
    height: 860px;
}

.work-heading {
    margin-top: 79px;
    margin-bottom: 60px;
}
.work-title {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #000000;
}

.work-subtitle {
    font-family: 'GeneralSans-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}

.work-row-title {
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 12px;
    margin-top: 16px;
}

.work-row-subtitle {
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 48px;
}

.see-more {
    background: #3461FF;
    border-radius: 64px;
    width: 203px;
    height: 64px;
    padding: 16px 48px;
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.cta-banner {
    background-color: #3461FF;
}

.cta-banner-title {
    top: 66px;
    left: 109px;
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 415px;
    height: 112px;
}

.cta-banner-right {
    height: 312px;
}

.cta-banner-right-text {
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 66px;
    margin-bottom: 26px;
}
.cta-banner-right-link a {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
}

.testimonial-heading {
    font-family: 'General Sans Variable';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 54px;
/* identical to box height */
text-transform: capitalize;
color: #000000;
}

.carousel-button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #3461FF;
    justify-content: center;
    transform: background 0.3s;
}

.swiper-button-next {
    margin-left: auto;
    margin-top: 0;
    
}


.carousel-button.swiper-button-disable {
    fill: #000000;
}

.card-1 {
    padding: 32px 73px 32px 32px;
    width: 505px;
    height: 296px;
    background: #3461FF;
    border-radius: 30px;
}

.thumbnail-info {
    gap: 20px;
    margin-bottom: 19px;
}

.name {
    margin-bottom: 10px;
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
/* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;
}

.job {
    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;
}

.describe {
    width: 400px;
    height: 128px;

    font-family: 'General Sans Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
/* or 178% */

    text-transform: capitalize;

    color: #FFFFFF;
}



